html {
  scroll-behavior: smooth;
}
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url('../images/graphy.png');
}
.main {
  height: 90vh;
  width: 100%;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
p, q, h2{
  font-family: 'quicksandregular', Arial, Helvetica, sans-serif;
  color: #000;
}
p {
  font-size: 1.3rem;
}
.content {
  margin: 0 20%;
  height: 100%;
}

/* start of navbar */
.navbar {
  height: 90vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  z-index: 9999;
}
#nav-img {
  border-radius: 50%;
  box-shadow: 0px 0px 30px 15px #000;
  max-width: 180px;
  margin: auto;
}
.nav-menu{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav-menu a{
  text-transform: uppercase;
  display: block;
  color: #f1f1f1ff;
  text-align: center;
  text-decoration: none;
  font-family: 'quicksandbold', Arial, Helvetica, sans-serif;
}
.nav-links {
  width: 150px;
  margin: auto 20px;
}
.nav-menu .nav-icons {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-menu {
    justify-content: space-around;
  }
  .nav-menu .nav-links {
    display: none;
  }
  .nav-menu a {
    margin: 0;
  }
  .nav-menu .nav-icons {
    display: block;
  }
  #nav-img {
    width: 100px;
  }
  .content {
    margin: 0 5px
  }
  .cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
  }
  .card {
    width: 200px;
    height: 200px;
  }
  .card .project-description, .card p {
    top: 125px;
    height: 75px;
  }
  .profile-image img {
    width: 150px;
  }
  .navbar, .navbar-menu, footer {
    width: 100vw;
  }
  .footer-contact {
    margin-left: 5px;
  }
  .footer-social a{
    margin-right: 5px;
  }
}
/* end of navbar */


/* start of sections */
section {
  top: 0;
  width: 100%;
}
#home {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  height: 90vh;
}
#home h1 {
  text-align: center;
  font-family: 'tahuregular', 'lily_of_the_valley_personalRg', Arial, Helvetica, sans-serif;
  font-size: 9vw;
  color: #f1f1f1;
}
.about h1, .projects h1{
  font-family: 'Eurostile', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
  font-weight: 800;
  text-align: center;
}
.about, .projects {
  margin: 0 auto;
}
.about {
  padding-top: 6vh;
}
/* end of sections */


/* start of about page */
.profile {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.profile-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: 20;
}
.info {
  width: 100%;
  min-height: 30vh;
  background: #fff;
  position: relative; 
  margin-top: -75px;
  padding: 95px 20px 20px 20px;
  border: 1px solid #E6ECF8;
  box-sizing: border-box;
}
.effect{
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect:before, .effect:after{
  content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:10px;
  bottom:10px;
  left:0;
  right:0;
  border-radius:100px / 10px;
}
.effect:after {
  right:10px;
  left:auto;
  transform:skew(8deg) rotate(3deg);
}
.info span{
  text-align: center;
}
.contact-info p{
  font-size: 1rem;
}
/* end of about page */


/* start of projects page */
.projects{
  margin: 10vh auto 20vh auto;
}
.project-container {
  min-width: 100%;
  min-height: 50vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.cards {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width: 300px;
  height: 300px;
  margin: 10px;
  position: relative;
}
.card .project-image {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
}
.card .project-description, .card p {
  top: 175px;
  left: 0;
  position: absolute;
  text-align: center;
  vertical-align: bottom;
  margin: 0;
  padding: auto;
  visibility: hidden;
  height: 125px;
  background: rgba(80, 80, 80, 0.3);
}
.card:hover .project-description {
  visibility: visible;
}
.card:hover .project-image{
  opacity: 0.3;
}
/* end of projects page */


/* start of footer */
footer {
  width: 100%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 1);
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  box-sizing: border-box;
}
.footer-contact {
  color: #f1f1f1;
  margin-left: 20px;
  font-size: 0.5rem;
}
.footer-social a{
  margin-right: 20px;
  color: #f1f1f1ff;
  font-size: 1.5rem;
}
/* end of footer */